#container {
    display: grid;
    grid-template-columns: 200px 500px 200px 100px;
    grid-template-rows: 100px 400px;
    grid-gap: 5px;
}
.content{
    background-color: rgb(17, 102, 172);
    border: 1px solid black;
}
.content2{
    font-size: 2rem;
}
.content1 img{
    width: 70%;
}